* {
  box-sizing border-box
  -webkit-tap-highlight-color rgba($black, 0)
}

*:before,
*:after {
  box-sizing border-box
}

:root {
  width 100%
  height 100%
  background-color $white
  box-sizing border-box
  color $black
  cursor default
  font 66.66667% sans-serif
}

body {
  width 100%
  font-size 14px
  line-height 1.5
  color rgba($black, .69)
  background-color $body-bg-color
  -webkit-font-smoothing antialiased
  -webkit-text-size-adjust 100%
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  margin 0
  padding 0
}